<%= render 'shared/errors', obj: @fire %>

<div class='row col-sm-12 '>
	<div class='well col-xs-12 col-md-8 col-md-offset-2 '>
		<%= form_for @fire do |f| %>
			<%= f.label :name %> <br/>
			<%= f.text_field :name %> <br/> <br/>

			<%= f.label :summary %> <br/>
			<%= f.text_area :summary, rows: 3%> <br/><br/>
 
			<%= f.label :description %> <br/>
			<%= f.text_area :description, rows: 10%> <br/> <br/>
			
			<%= f.submit(@fire.new_record? ? 'Create Fire' : 'Edit Fire', class: 'btn btn-warning') %> <br/>

		<% end %>
	</div>
</div>