<%= render 'shared/page_title', title: @fire.name %>

<div class='row'>
	<div class='col-md-4 pull-right center'>
	 <%= gravatar_for @fire.diver, size: 200 %>
	 <p>
	 	<h5> Brought to you by: <%= @fire.diver.divername %></h5>
	 </p>
	</div>
	
	<div class='col-md-8'>
		<%= link_to "Edit this Fire", edit_fire_path(@fire), class: 'btn btn-warning' %>
		<h3><%= @fire.summary %> </h3>
		<div class="show_fire">
			<%= image_tag(@fire.picture.url, class: "gravatar") if @fire.picture %>
		</div>
		<div class='well'>
		<p>
			<strong> So this is what happened: </strong>
		</p>

		<%= simple_format(@fire.description) %>
	</div>
</div>
</div>

<h5> <%= link_to "Return to Browsing Fires", fires_path, class: 'btn btn-warning' %></h5>