<%= render 'shared/page_title', title: @fire.name %>

<div class='row'>
	<div class='col-md-4 pull-right center'>
	 <p>
	 	<h5> Brought to you by: <%= link_to(@fire.diver.divername, diver_path(@fire.diver)) %></h5>
	 	<%= image_tag(@fire.diver.image.url(:medium)) %>
	 </p>
	</div>
	
	<div class='col-md-8'>
		
		<h3><%= @fire.summary %> </h3>
		<div class="show_fire">
			<%= image_tag(@fire.picture.url, class: "gravatar") if @fire.picture %>
		</div>
		<div class='well'>
		<p>
		<% if @fire.styles.any? %>
			<p> Dive Style: <%= render @fire.styles %> </p>
		<% end %>
		<% if fire.objectives.any? %>
			<p> Dive Objectives: <%= render @fire.objectives %> </p>
		<% end %>
			<strong> So this is what happened: </strong>
		</p>

		<%= simple_format(@fire.description) %>
		<div class='pull-right'>
			<%= link_to like_fire_path(@fire, like: true), method: :post do %>
				<i class='glyphicon glyphicon-thumbs-up'></i>
			<% end %> &nbsp;<%= @fire.thumbs_up_total %>&nbsp;&nbsp; 
			
			<%= link_to like_fire_path(@fire, like: false), method: :post do %>
				<i class='glyphicon glyphicon-thumbs-down'></i>
			<% end %> &nbsp; <%= @fire.thumbs_down_total %>
		</div>
	</div>
</div>
</div>

<div class='col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2'>

<h5> <%= link_to "Return to Browsing Fires", fires_path, class: 'btn btn-info pull-left' %> &nbsp; 

<% if logged_in? and @fire.diver == current_user %> <%= link_to "Edit this Fire", edit_fire_path(@fire), class: 'btn btn-info pull-right' %> </h5> <% end %>

</div>
