<%= will_paginate obj %>

<% obj.each do |fire| %>
	<div class="row">

		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 well">

			<div class="col-sm-6 col-md-2">
				<section class="diver_info center">
					<%= image_tag(fire.diver.image.url(:thumb), class: 'img-responsive') %>
					<h5>Diver Name: <%= fire.diver.divername %></h5>
				</section>
			</div>

			<div class='col-sm-6 col-md-3' style='float: right'>
					<div class='like pull-left'>
						<%= link_to like_fire_path(fire, like: true), method: :post do %>
						<button type='button' class='btn btn-info btn-lg'>
							<i class='glyphicon glyphicon-thumbs-up'></i>
						</button>
						<% end %> &nbsp;<%= fire.thumbs_up_total %>&nbsp;&nbsp; 
					</div>

					<div class='like pull-right'>
						<%= link_to like_fire_path(fire, like: false), method: :post do %>
						<button type='button' class='btn btn-danger btn-lg'>
							<i class='glyphicon glyphicon-thumbs-down'></i>
						</button>
						<% end %> &nbsp; <%= fire.thumbs_down_total %>
					</div>	\

					<p class='edition', style='float: right'>
						<span class='quiet'><small>created <%= time_ago_in_words(fire.created_at) %> ago </small></span>  <br/>
						<span class='quiet'><small> updated <%= time_ago_in_words(fire.updated_at) %> ago </small></span>
				</p>
			</div>
				
			<div class="col-md-7">

				<h3> <%= link_to fire.name, fire_path(fire), class: "post-title center-block" %> </h3>
				<h5 class="post-summary"> <%= fire.summary %> </h5>
			</div>
			 	
			<div class='center-block'>
				<%= image_tag(fire.picture.url, class: "img-responsive") if fire.picture? %>
			</div>		

		</div>
	
		
	</div>
<% end %>

<%= will_paginate %>