<div class="header" id="about-header">
	<h1> About </h1>
</div>

<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag("seasfire.png") %>
		<% end %>
	</div>

	<ul id="categories">
		<% if user_signed_in? %>
  		<li><%= link_to "Log a Dive", new_log_path %></li>
    	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>

    <li><%= link_to "Sign In", new_user_session_path %> </li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <% end %>

  </ul>
</div>

<div class="row" id="blurbs">
	<div class="container">
		<div class="col-lg-4">
			<h3 class="midrow">
			What We Do
			</h3>
			<h2 class="left">
			This is what we do and what we aim to do. Our mission and vision and suit like that. 
			</h2>
			<p><%= link_to "Watch Us in Action", "", class: "btn btn-primary btn-small" %> </p>
		</div>

		<div class="col-lg-4">
			<h3 class="midrow">
			Who We Are
			</h3>

			<h2 class="left">
			This is where we say hello this is Ogle, Andrew, Sharon and we are divers and scientists
			and we care about shit that actually matters, not just money because we aren't assholes. This
			should link to a biography page. 
			</h2>
			<p><%= link_to "Watch Us in Action", new_log_path, class: "btn btn-primary btn-small" %> </p>
		</div>

		<div class="col-lg-4">
			<h3 class="midrow">
			Our Expeditions
			</h3>

			<h2 class="left">
			Check out our expeditions! this should link to an album view of each expedition and people
			should be able to checkout each member's journal entries from here. 
			</h2>
			<p><%= link_to "Watch Us in Action", "", class: "btn btn-primary btn-small" %> </p>		

		</div>
	</div>
</div>

<div class="row" id="gallery">
	<div class="container">
	<h1 id="gallery-head"> Ready. Set. SCUBA. </h1>
	<button type='button' class='btn btn-default' id="gallery-links">
			
		    <%= image_tag("headbanner/create.jpg", alt: "create") %>
			<%= image_tag("headbanner/Explore.jpg", alt: "explore") %>
			<%= image_tag("headbanner/research.jpg", alt: "research") %>
			<%= image_tag("headbanner/selfie.jpg", alt: "selfie") %>
			<%= image_tag("headbanner/mike.jpg", alt: "mike") %>
			<%= image_tag("headbanner/fred.jpg", alt: "fred") %>
			<%= image_tag("headbanner/yoohoo.jpg", alt: "yoohoo") %>
			<%= image_tag("headbanner/youngs.jpg", alt: "youngs") %>
			<%= image_tag("headbanner/moray.jpg", alt: "moray") %>
			<%= image_tag("headbanner/ogle_spock.jpg", alt: "ogle_spock") %>
			<%= image_tag("headbanner/redflower.jpg", alt: "redflower") %>
	</button>
	</div>
</div>