<!DOCTYPE html>
<html>
<body>
<div class='row'>
	<%= image_tag 'headbanner/selfie.jpg', height: '300', width: '1200', :class => 'img-responsive center-block' %>
</div>

<div class='row'>
<div class='container' style: 'width: 100%'>

<h1 style='margin-top: 30px; padding-top: 30px; font-weight: 300; letter-spacing: 2px; word-spacing: 18px; color: #27408B; text-align: center'> Meet The Founders </h1> <hr/>

	<div id="the-team" class="col-sm-12" style='text-align: center'>
		<div class="col-xs-12 col-md-4">
			<div id="founders" class="col-sm-6 col-md-12">
				
				<img> <%= image_tag('ogle.jpg', class: 'img-circle', height: '240', width:'190') %> </img>
				<h1 class='name'> Ogle </h1>
			</div>
			<div id="explanation" class="col-sm-6 col-md-12">
				<p>Ogle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula a </p>                          
			</div>
		</div>


	<div class="col-xs-12 col-md-4">
		<div id="founders" class="col-sm-6 col-md-12">
			
			<img> <%= image_tag('andrew.jpg', class: 'img-circle', height: '240', width: '190') %> </img>
			<h1 class='name'> Andrew </h1>
		</div>
		<div id="explanation" class="col-sm-6 col-md-12">
			<p>Andrew Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula a </p>                          
		</div>
	</div>

	<div class="col-xs-12 col-md-4">
		<div id="founders" class="col-sm-6 col-md-12">
			
			<img> <%= image_tag('sharon.jpg', class: 'img-circle', height: '240', width:'190') %> </img>
			<h1 class='name'> Sharon </h1>
		</div>
		<div id="explanation" class="col-sm-6 col-md-12">
			<p>Sharon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula a </p>                          
		</div>
	</div>
</div>
</div>
<hr/>

<div class="row">
<div class='img-responsive center-block'>
<h1 class='fire-title'> Ready. Set. SCUBA. </h1>

		<button type='button' class='btn btn-default' id="gallery-links">
				<%= image_tag("headbanner/mike.jpg", alt: "mike") %>
				<%= image_tag("headbanner/fred.jpg", alt: "fred") %>
				<%= image_tag("headbanner/yoohoo.jpg", alt: "yoohoo") %>
				<%= image_tag("headbanner/youngs.jpg", alt: "youngs") %><%= image_tag("headbanner/create.jpg", alt: "create") %>
				<%= image_tag("headbanner/Explore.jpg", alt: "explore") %>
				<%= image_tag("headbanner/research.jpg", alt: "research") %>
				<%= image_tag("headbanner/moray.jpg", alt: "moray") %>
				<%= image_tag("headbanner/ogle_spock.jpg", alt: "ogle_spock") %>
				<%= image_tag("headbanner/redflower.jpg", alt: "redflower") %>
		</button>
</div>
</div>
</body>
</html>