<% @log.each do |log| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to log.title, log %></h2>
  </div>

  <div id="sidebar">
  	<div id="logo">
  		<%= link_to root_path do %>
  			<%= image_tag("seasfire.png") %>
  		<% end %>
  	</div>

  	<ul id="categories">
  		<% if user_signed_in? %>
	  		<li><%= link_to "Log a Dive", new_log_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :destroy %></li>
      <% else %>

        <li><%= link_to "Sign In", new_user_session_path %> </li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>

	  </ul>
   </div>
<% end %>