
<h1>New Dive Log</h1>

<%= form_for :log, url: logs_path do |f| %>
	<%= f.label :title %> <br/>
	<%= f.text_field :title %> <br/>

	<%= f.label :entry %> <br/>
	<%= f.text_field :entry %> <br/>

	<%= f.label :place %> <br/>
	<%= f.text_field :place %> <br/>

	<%= f.label :date %> <br/>
	<%= f.text_field :date %> <br/>

	<%= f.label :rating %> <br/>
	<%= f.text_field :rating %> <br/>

	<%= f.submit %>
<% end %>