<div class="container-fluid">
	<div class="row" id="titleplace">
		<h1 id="title"> <%= @log.title %> </h1>
		<h3 id="place"> @ <%= @log.place %> </h3>
		<h3 id="date"> <%= @log.date %> </h3>
		<h3 id="rating"> <%= @log.rating %> </h3>
	</div>
</div>

<section id="entry">
	<p>
		<%= @log.entry %>
	</p>
<section>

<div class="container-fluid" id="foot">
	<div class="row">
		<%= link_to "Back Home", root_path %>
		<%= link_to "Browse Logs", log_path %>
	</div>
</div>



