<!DOCTYPE html>
<html>
<body>
<nav class="head-nav">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example navbar collapse-1">
		  <span class="sr only"> Toggle Nav </span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a><%= link_to(image_tag('seasfire.png'), root_path) %> </a>

		</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to 'About', about_path, :class => 'nav-options' %></a></li>
        <li><%= link_to 'Browse Fires', fires_path, :class => 'nav-options' %></li>
        
        <li class="nav-options">
          <a href="#" class="nav-options" data-toggle="dropdown" role="button" aria-expanded="false"> Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            <% if logged_in? %>
              <li> Logged In As: <%= link_to(current_user.divername, diver_path(current_user))%> </li>
              <li><%= link_to('All Diver Profiles', divers_path) %> </li>
              <li><%= link_to('Add Fires', new_fire_path) %></li>
              <li><a href="#">Add Album</a></li>
              <li class="divider"></li>
              <li><%= link_to('Log out', logout_path) %></a></li>
            <% else %>
              <li> <%= link_to('Log in', login_path) %> </li>
              <li> <%= link_to('Sign up', register_path) %> </li>
            <% end %>

          </ul>
        </li>
      </ul>
</nav>
<body>
</html>

