<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<%= link_to "SEASFIRE", "", class: "btn btn-lg btn-success", id: "logo" %>
			<div class="nav_item">
				<%= link_to "What We Do", "", class: "btn btn-default btn-morning" %>
			</div>
			<div class="nav_item">
				<%= link_to "Who We Are", "", class: "btn btn-default btn-morning" %>
			</div>
			<div class="nav_item">
				<%= link_to "Past Expeditions", "", class: "btn btn-default btn-morning" %>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<%= yield %>
		<div class="footer">
			<p>&copy; SEASFIRE 2012-2015</p>
		</div>
	</div>
</body>
</html>
